@import "normalize.css";

.body {
    background: #f3f0f3;
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0 48px;
}

.about {
    filter: none;
    padding: 0;
    margin: 16px 0 0 0;
    background: #665566 cover border-box padding-box;
    position: relative;
}

.about__border {
    background: inherit;
    background-clip: border-box;
    border: 0.3rem outset #665566;
    border-radius: 8px;
    filter: drop-shadow(4px 4px 8px #665566);
    z-index: 1;
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    height: inherit;
    width: inherit;
}


.about__img {
    padding: 4px 18px;
}
.about__paragraph {
    padding: 0 16px 16px 16px;
    margin: 0;
}

.footer {
    position: relative;
    margin: 48px 16px 16px 16px;
    font-size: 12px;
}

.grid {
    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-template-areas: "main about";
    grid-column-gap: 16px;
}

.grid__about {
    grid-area: about;
}
.grid__main {
    grid-area: main;
}

.h2__heading {
    font-stretch: expanded;
    font-weight: 400;
}

.header {
    font-family: "Poiret One", cursive;
    font-weight: 400;
    font-size: 32px;
    margin: 0 32 32 32;
    padding: 32px;
    text-align: center;
}

.header__description {
    font-size: 24px;
}

.img {
    max-width: 600px;
    margin: 0 auto;
}

.img--main {
    max-width: 420px;
}

.link {
    text-decoration: underline;
    color: #443844e7;
}

.main {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    max-width: 1200px;
    min-width: 848px;
    margin: 0 auto;
    padding: 0 24px 16px 16px;
}

.box {
    border: 0.3rem outset #aaa0aa;
    border-radius: 8px;
    box-shadow: 0.5em 0.5em 0.8em #665566;
    margin: 16px;
    padding: 16px;
    background-color: white;
}

.memes-page {
    margin: auto;
    padding: 16px;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.memes__day {
    background: white;
    padding: 16px;
    margin: 32px 16px;
    border-radius: 8px;

    box-shadow: 0.1em 0.1em 0.8em #665566;
}
.memes__day--width {
    width: 664px;
}
.memes__day--main {
    min-width: 420px;
}

.memes__day-heading {
    margin: 0 0 16px 0;
    font-weight: 500;
    font-size: 24px;
}


.nav__item {
    list-style: none;
    margin: 0 16px;
}
.nav__list {
    background-color: #4a3a45;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    justify-content: flex-end;
    padding: 16px 20px;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 848px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav__link {
    text-decoration: none;
    list-style: none;
    color: white;
}


.notes__day {
    padding: 0 16px;
    font-weight: 200;
}

.notes__day-heading {
    color: #443844e7;
    font-weight: 200;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 24px;
    padding: 0 8px;
}


.notes__subheading {
    margin-top: 48px;
    font-weight: 400;
}

.up {
    text-align: center;
    position: relative;
    right: 16px;
    bottom: 16px;
    font-size: 16px;
    margin-top: 36px;
}
.up__div {
    margin-bottom: 12px;
}
.up__link {
    text-decoration: none;
    color: #4a3a45;
    text-align: center;
    max-height: 36px;
}

